h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-container {
  padding: 0 0.5em 0.5em 0.5em;
  border-radius: 1.5em;
  height: 100%;
}

.header-container {
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  border-radius: 1.5em;
  height: 100%;
}

.content-view {
  border: 1px solid black;
  border-radius: 1.5em;
  padding: 1em;
  width: calc(50% - 0.5em);
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.no-text-select {
  user-select: none;
}
