h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.main-container {
  padding: 0 0.5em 0.5em 0.5em;
  border-radius: 1.5em;
  height: 100vh;
}

.header-container {
  width: 100%;
}

.content-container {
  display: flex;
  gap: 1em;
  border-radius: 1.5em;
  height: calc(100% - 70px);
  overflow-y: hidden;
}

.content-view {
  border: 1px solid darkgray;
  border-radius: 1.5em;
  padding: 1em;
  height: 100%;
  overflow-y: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.no-text-select {
  user-select: none;
}

.parent-container {
  overflow-y: hidden;
  height: 100%;
}

.child-container-body {
  height: 100%;
  overflow-y: scroll;
}

@media (min-width: 761px) {
  .content-container {
    flex-direction: row;
  }

  .content-view {
    width: calc(50% - 0.5em);
  }
}

@media (max-width: 760px) {
  .content-container {
    flex-direction: column;
  }
}
